.storybook
.doc
*.iml
*.log
.idea/
.ipr
.iws
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo

node_modules
.cache

coverage
yarn.lock
package-lock.json
.storybook
.doc
.history

# umi
.umi
.umi-production
.umi-test

# dumi
.dumi/tmp
.dumi/tmp-production

pnpm-lock.yaml
.vscode
test

.dumirc.ts
.editorconfig
.eslintrc.js
.fatherrc.js
.gitignore
.prettierrc
LICENSE.md
now.json
tsconfig.json
update-example.js

.env.local
